<div style="text-align:center">
  <img width="500" alt="Metavserse Logo" src="/assets/logo.png">
  <h1>Free Testnet ETP</h1>
</div>
<p>Enter your testnet address and receive ETP for your tests: </p>
<mat-card class="container">
  <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="email" placeholder="Email" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="address" placeholder="Metavserse Address" value="">
      </mat-form-field>
      <br>
      <re-captcha [hidden]="applyForm.controls.address.invalid || applyForm.controls.email.invalid" siteKey="6Lf-cIoUAAAAADab1Xs9wKFySYRVNqSUXXE4AFpU"
        formControlName="captcha"></re-captcha>
      <br>
      <button [disabled]="applyForm.invalid" mat-raised-button color="primary">Submit</button>

      <p *ngIf="message">{{message}}</p>
  </form>
</mat-card>
<p>Please return the ETP to tXXX if you dont need them anymore. Thank you.</p>
<div *ngIf="balance">Available ETP: {{balance.available / 10E8}}</div>
<h2>History</h2>
<ul>
  <li *ngFor="let item of history | async">
    <b>{{item.date | date: 'medium'}}</b> Tx: <a href="https://explorer-testnet.mvs.org/tx/{{item.hash}}">{{item.hash}}</a>
    - Address: {{item.address}}
  </li>
</ul>