<div class="header">
  <img class="logo" alt="Metavserse Logo" src="/assets/logo.png">
  <h1>Free Testnet ETP</h1>
</div>
<request-form></request-form>
<p>Please return the ETP to <span class="break-all">{{myAddress}}</span> if you dont need them anymore. Thank you.</p>
<p>For information on how to use the testnet see <a href="https://docs.mvs.org/docs/testnet.html">docs.mvs.org</a> or
  <a href="https://medium.com/@canguruhh/how-to-use-the-metaverse-testnet-b8a194e6670d">this</a> Medium article.</p>
<balance></balance>
<history></history>
